<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>
        <footer th:fragment="footer">
            <p> [[#{plantilla.pie-pagina}]]<a href="https://www.linkedin.com/in/juli%C3%A1n-castro-8071411bb/" target="_blank">&copy; CASTRO JULIAN EMANUEL</a></p>
        </footer>
        
        
    </body>
</html>
